.form-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.form-sec {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 3px;
}

.sub-button {
  margin: 3px;
  padding: 3px;
}
